.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0;
    
    
}

.header__menu {
font-family: "Raleway";
font-weight: 400;    
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 50px;
padding-top: 133px;
padding-bottom: 138px;          
}

.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 13px;
    

    
}

.header__links-list-item {
    

}

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
    
}

.header__link {

}

.header__link_active {


}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-content: center;
    
}

.header__logo-image{
    width: 129.11px;
    height: 104.65px;
    padding: 1.16px 9.03px;

}

.address {
max-width: 240px;
justify-self: end;
padding: 95px 50px 100px 1px;
}

.header__address {

}


.cover {
    padding: 0;
}

.lots {
    display: flex;
    flex-direction: column;
    
    width: 1052px;
    height: 723px;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.lots__heading {

}

.lots__card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 334px;
    height: 596px;
    list-style: none;

}

.lots__card-list-item {

}

.card__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}

.card__text {
    position: relative;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    z-index: 1;

}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{

}

.about {
    padding: 120px 24px 180px;

}

footer {
    width: 100%;
    height: 180px;
    padding: 0;
}